*.pyc
*.pyo
__pycache__
*.so
*.o

*.egg
*.egg-info
.*cache*/
*venv*/

build/
dist/
cython_debug/
*.patch
*.diff
*.orig
*.prof
*.rej
*.log
*.dep
*.swp
*~

src/*.c
operation-call-*.json

# Jetbrains IDE project files
.idea/
*.iml/
